= form_for @play do |f|
  - if @play.errors.any?
    #error_explanation
      %h2= "#{pluralize(@play.errors.count, "error")} prohibited this play from being saved:"
      %ul
        - @play.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
