%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user) do |f|
        %header
          %h1 Language and User Information
        %fieldset
          = f.email_field :email, label: "Email Address"
          = f.text_field :full_name, label: "Full Name"
          = f.select :from_language_id, options_from_collection_for_select(Language.all, :id, :name, f.object.from_language_id),  label: "From Language"
          = f.select :to_language_id, options_from_collection_for_select(Language.all, :id, :name, f.object.to_language_id),  label: "To Language"
        = f.submit "Update"
