<h2>Plays</h2>
<ul>
{{#each}}

{{play_id}}

<li>{{#link-to 'play' this}}{{original_spelling}}{{/link-to}}</li>

<button {{action 'choose'}}> {{ choice0 }} </button>
<button {{action 'choose'}}> {{ choice1 }} </button>
<button {{action 'choose'}}> {{ choice2 }} </button>



{{/each}}
</ul>
{{outlet}}
