<h2>Plays</h2>
<ul>
{{#each}}

{{original_spelling}}
<form>
<button {{action 'updatePlay'}}> {{ choice0 }} </button>
<button {{action 'updatePlay'}}> {{ choice1 }} </button>
<button {{action 'updatePlay'}}> {{ choice2 }} </button>
</form>

{{/each}}
</ul>
{{outlet}}
